.pio
.pioenvs
.piolibdeps
build
# willen we sdkconfig pushen?
sdkconfig*

# Example
example/build
example/cmake-build*
example/sdkconfig

# IDE specific
# VScode
.vscode
# Intellij Idea
.idea
cmake-build-*
CMakeListsPrivate.txt