.pio
.pioenvs
.piolibdeps
build
sdkconfig*

# Example
example/build
example/cmake-build*
example/sdkconfig
!example/sdkconfig.defaults

# IDE specific
# VScode
.vscode
# Intellij Idea
.idea
cmake-build-*
CMakeListsPrivate.txt