[submodule "libs/I2Cbus"]
	path = libs/I2Cbus
	url = https://github.com/natanaeljr/esp32-I2Cbus.git
	ignore = dirty
[submodule "libs/MPUdriver"]
	path = libs/MPUdriver
	url = https://github.com/natanaeljr/esp32-MPU-driver.git
	ignore = dirty

